SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphonesimulator
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 5.1.1
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
LINK_WITH_STANDARD_LIBRARIES = NO
GENERATE_MASTER_OBJECT_FILE = YES
ONLY_ACTIVE_ARCH = NO
COPY_PHASE_STRIP = NO

//

//SYMROOT = ../lib/ios_sim
//OBJROOT = build/
//CONFIGURATION_BUILD_DIR = $(BUILD_DIR)

//

CINDER_PATH = ../../../

ALWAYS_SEARCH_USER_PATHS = YES
USER_HEADER_SEARCH_PATHS = "$(CINDER_PATH)/boost" ../src
HEADER_SEARCH_PATHS = "$(CINDER_PATH)/include" "$(CINDER_PATH)/src/libtess2" "$(CINDER_PATH)/blocks/Freetype/include" "$(CINDER_PATH)/blocks/hb-icu/include/icu/common" "$(CINDER_PATH)/blocks/hb-icu/include/hb"  "$(CINDER_PATH)/blocks/FMOD/include"

BASE_GCC_PREPROCESSOR_DEFINITIONS =

//

GCC_PREFIX_HEADER = ios_sim/Prefix.pch
