# Xcode
*.xcworkspace
xcuserdata

# OSX
.DS_Store

# Android
bin/
gen/
libs/
obj/
build.xml
local.properties
project.properties
proguard.cfg
proguard-project.txt

# Visual Studio
*.suo
*.ncb
*.sdf
*.opensdf
Debug/
Release/
ipch/
