ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
LINK_WITH_STANDARD_LIBRARIES = NO
GENERATE_MASTER_OBJECT_FILE = YES
ONLY_ACTIVE_ARCH = NO
COPY_PHASE_STRIP = NO

//

SYMROOT = ../lib/osx
OBJROOT = build/
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)

//

CINDER_PATH = ../../../

ALWAYS_SEARCH_USER_PATHS = YES
USER_HEADER_SEARCH_PATHS = "$(CINDER_PATH)/boost" ../src
HEADER_SEARCH_PATHS = "$(CINDER_PATH)/include" "$(CINDER_PATH)/src/libtess2" "$(CINDER_PATH)/blocks/Freetype/include" "$(CINDER_PATH)/blocks/hb-icu/include/icu/common" "$(CINDER_PATH)/blocks/hb-icu/include/hb"  "$(CINDER_PATH)/blocks/FMOD/include"

BASE_GCC_PREPROCESSOR_DEFINITIONS =

//

GCC_PREFIX_HEADER = osx/Prefix.pch
